@import url("reset/reset.css");
@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  src: url(fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "Roobert";
  font-weight: 400;
  font-style: normal;
  src: url(fonts/Roobert-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-weight: 600;
  font-style: normal;
  src: url(fonts/Roobert-SemiBold.woff2) format("woff2");
}

html {
  scroll-behavior: smooth;
}

main {
  font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: "tnum" 1, "ss03" 1;
          font-feature-settings: "tnum" 1, "ss03" 1;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
}

.darkmode {
  -webkit-filter: invert(0.94);
          filter: invert(0.94);
}

.darkmode img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkmode .projects__up:after, .darkmode .projects__up:before {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkmode .contact__icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.icons > div {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
  margin-right: 15px;
  background-size: 100% 100%;
}

.icons > div:hover {
  cursor: pointer;
}

.icons--inline {
  display: inline-block;
}

.icons .darkModeSwitch {
  background-image: url("../img/moon2.png");
}

.icons .darkModeSwitch:hover {
  background-image: url("../img/moon.png");
}

.icons .fb {
  background-image: url("../img/fb.png");
}

.icons .fb:hover {
  background-image: url("../img/fb_outline.png");
}

.icons .git {
  background-image: url("../img/git.png");
}

.icons .git:hover {
  background-image: url("../img/git_outline.png");
}

.header {
  margin: auto;
  width: 90%;
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__name {
  font-size: 26px;
  font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.1px;
  margin-left: 13px;
  margin-top: 5px;
}

.header__name::after {
  content: "marek. kobylarczyk";
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__icons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__icons div {
  margin: 10px;
}

.header__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation {
  -webkit-transform: translateY(-350px);
          transform: translateY(-350px);
  font-family: "Lato";
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  text-transform: uppercase;
}

.navigation__item {
  padding: 15px;
  letter-spacing: -0.5px;
  font-size: 14px;
  text-align: right;
  font-weight: 400;
  white-space: nowrap;
}

.navigation__href {
  color: black;
  text-decoration: none;
}

.navigation--active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.screen__container {
  width: 90%;
  margin: auto;
}

.screen__paragraph {
  text-transform: uppercase;
  font-size: 15.5vw;
  font-weight: 600;
  text-align: center;
  background-image: url("../img/bg.jpg");
  background-size: 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
}

.mouse_indicator {
  width: 90%;
  margin: auto;
  text-align: center;
}

.about__line, .projects__line, .contact__line {
  margin: 25px 0 25px 0;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}

.about__container {
  width: 90%;
  margin: auto;
  padding: 40px 0 0 0;
}

.about__desc {
  font-weight: 400;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 0.1px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.about h2 {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 600;
}

.about hr {
  background: transparent;
}

.tech__container {
  width: 90%;
  margin: auto;
}

.tech__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech__item {
  padding: 10px;
  margin: 5px;
  border: 2px solid #444444;
  font-size: 25px;
  width: auto;
  text-align: center;
}

.projects__container {
  width: 90%;
  margin: auto;
}

.projects__wrapper {
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__item {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 60px -28px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 60px -28px rgba(0, 0, 0, 0.75);
}

.projects__item:not(:first-child) {
  margin-top: 20px;
}

.projects__up {
  height: 30vh;
  width: 100%;
}

.projects__up img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.projects__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  margin-top: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects__techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*
        span:not(:first-child) {
            margin-left: 10px;
        }
        */
}

.projects__techs span {
  border: 1px solid #444444;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.projects__up {
  position: relative;
}

.projects__up img {
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__up:after, .projects__up:before {
  position: absolute;
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.projects__up:after {
  content: "\A";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.747);
  border-radius: 20px;
}

.projects__up:before {
  content: attr(data-desc);
  font-size: 25px;
  font-weight: 600;
  z-index: 1;
  bottom: 20px;
  left: 15px;
  padding: 15px;
  text-align: center;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.projects__up:hover:after, .projects__up:hover:before {
  opacity: 0;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects__git {
  width: 25px;
  height: 25px;
  background-image: url("../img/github-logo.png");
  background-size: 100% 100%;
}

.contact__container {
  width: 90%;
  margin: auto;
}

.contact p {
  line-height: 25px;
  text-align: justify;
}

.contact p span {
  display: block;
  font-weight: bold;
}

.contact__box {
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact__box--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__box--padding {
  padding-top: 20px;
}

.contact [data-link]:hover, .contact__email:hover {
  cursor: pointer;
}

.contact__icon {
  font-size: 25px;
  margin: 0 5px 0 5px;
}

.contact__email {
  display: inline-block;
  padding: 3px 3px;
  -webkit-box-shadow: inset 0 -3px 0 #9e9e9e;
          box-shadow: inset 0 -3px 0 #9e9e9e;
}

.footer {
  margin-top: 50px;
  background-color: #d8d8d8;
  text-align: center;
}

.footer__container {
  width: 90%;
  margin: auto;
}

.footer p {
  padding: 30px 0 30px 0;
  font-size: 18px;
}

.footer p span {
  font-weight: bold;
}

.line {
  background-color: #d8d8d8;
  border: 0;
  margin: 50px 0 50px 0;
}

blockquote {
  background: #ffffff;
  border-left: 4px solid #000000;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  color: #535353;
  font-size: 16px;
  font-weight: 300;
  line-height: inherit;
  padding: 25px;
  position: relative;
  height: 100%;
}

.button {
  background-color: #777777;
  border: none;
  font-size: 16px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.heading {
  font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 35px;
  -webkit-font-feature-settings: "tnum" 1, "ss03" 1;
          font-feature-settings: "tnum" 1, "ss03" 1;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.025em;
}

@media only screen and (min-width: 480px) and (min-width: 768px) {
  .header,
  .screen__container,
  .mouse_indicator,
  .about__container,
  .tech__container,
  .projects__container,
  .contact__container,
  .footer__container {
    width: 80%;
  }
  .screen__paragraph {
    font-size: 14vw;
  }
  .header__icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__name {
    font-size: 25px;
    font-weight: 100;
  }
  .header__name::after {
    content: "marek.kobylarczyk";
  }
  blockquote {
    font-size: 18px;
  }
}

@media only screen and (min-width: 480px) and (min-width: 992px) {
  .projects__item {
    width: 45%;
  }
  .projects__item:not(:first-child), .projects__item:not(:nth-child(2)) {
    margin-top: 20px;
  }
  .header__name {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 480px) and (min-width: 1200px) {
  .header,
  .screen__container,
  .mouse_indicator,
  .about__container,
  .tech__container,
  .projects__container,
  .contact__container,
  .footer__container {
    width: 60%;
  }
  .header {
    margin-bottom: 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__name {
    font-size: 25px;
    margin-top: 0px;
  }
  .header div:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__icons {
    width: auto;
    margin-left: 30px;
  }
  .header__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .screen__paragraph {
    font-size: 10.5vw;
  }
  .hamburger {
    display: none !important;
  }
  .navigation {
    -webkit-transform: none;
            transform: none;
    height: 100%;
  }
  .navigation__list {
    padding-top: 10px;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .navigation__href {
    color: #b8b8b8;
  }
  .navigation__href:hover {
    color: black;
  }
  .href--active {
    color: black;
  }
  .navigation__href {
    display: inline-block;
  }
  .navigation__href::after {
    display: block;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background: #000;
    -webkit-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
    content: "";
  }
  .navigation__href:hover::after {
    width: 100%;
  }
  .projects__item {
    width: 45%;
  }
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger,
.navigation {
  -webkit-transition: -webkit-transform 0.3s 0.1s ease-in-out;
  transition: -webkit-transform 0.3s 0.1s ease-in-out;
  transition: transform 0.3s 0.1s ease-in-out;
  transition: transform 0.3s 0.1s ease-in-out, -webkit-transform 0.3s 0.1s ease-in-out;
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.1s 0.1s ease-in-out;
  transition: background-color 0.1s 0.1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  content: "";
  left: 0;
  -webkit-transition: -webkit-transform 0.2s 0.1s ease-in-out;
  transition: -webkit-transform 0.2s 0.1s ease-in-out;
  transition: transform 0.2s 0.1s ease-in-out;
  transition: transform 0.2s 0.1s ease-in-out, -webkit-transform 0.2s 0.1s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}
/*# sourceMappingURL=style.css.map */